# template config file for building a jail

# Please make all changes to this file, not to /etc/defaults/rc.conf.
# This file now contains just the overrides from /etc/defaults/rc.conf.
defaultrouter="10.137.1.7"
hostname="%(hostname)s.office.pirc.co.uk"
ifconfig_fxp0="inet %(ip)s  netmask 255.255.255.0"
keymap="uk.iso"
sshd_enable="YES"
sendmail_enable="NONE"



